@font-face {
  font-family: 'iconfont';
  src:  url('iconfont.eot?itxooq');
  src:  url('iconfont.eot?itxooq#iefix') format('embedded-opentype'),
    url('iconfont.ttf?itxooq') format('truetype'),
    url('iconfont.woff?itxooq') format('woff'),
    url('iconfont.svg?itxooq#iconfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wechat2:before {
  content: "\e64c";
}
.icon-qq:before {
  content: "\e602";
}
.icon-qq1:before {
  content: "\e66a";
}
.icon-wechat1:before {
  content: "\e618";
}
.icon-flickr:before {
  content: "\e654";
}
.icon-tag:before {
  content: "\e6fd";
}
.icon-linkedin:before {
  content: "\e698";
}
.icon-mail:before {
  content: "\e759";
}
.icon-search:before {
  content: "\e627";
}
.icon-mail01:before {
  content: "\e642";
}
.icon-wechat:before {
  content: "\e68b";
}
.icon-facebook:before {
  content: "\e601";
}
.icon-twitter:before {
  content: "\eb2a";
}
.icon-love:before {
  content: "\e745";
}
.icon-github:before {
  content: "\e712";
}
.icon-pinterest:before {
  content: "\e7bf";
}
.icon-up:before {
  content: "\e750";
}
.icon-left:before {
  content: "\e60a";
}
.icon-folder:before {
  content: "\e638";
}
.icon-close:before {
  content: "\e6d5";
}
.icon-dribbble:before {
  content: "\e696";
}
.icon-instagram:before {
  content: "\e6b6";
}
.icon-tumblr:before {
  content: "\e61f";
}
.icon-telegram:before {
  content: "\e731";
}
.icon-xihuan:before {
  content: "\e86f";
}
.icon-xihuan1:before {
  content: "\e870";
}
.icon-right:before {
  content: "\e6dd";
}
.icon-medium-circle-fill:before {
  content: "\e887";
}
